<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>שגיאה</title>
</head>
<body>
    <hgroup>
        <h1>שגיאה.</h1>
        <h2>אירעה שגיאה בעיבוד הבקשה.</h2>
    </hgroup>
</body>
</html>
